{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
        background: url("{% static 'img/abstract-background.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }
</style>

<div class="container text-center text-white" style="padding-top: 30px;">
    <img class="img-fluid rounded-top" src="{% static 'img/success.png' %}" alt="">
    <h1 style="color:black;">🎉Password Reset Successful 🎉</h1><br>
    <p style="color:black;">Your password has been reset. <a href="{% url 'login' %}">Login</a></p>
</div><br><br><br><br>

{% endblock %}
