{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment- Dental{% endblock %}

{% block content %}


    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Appointment</h1>
                <a href="{% url 'home' %}" class="h4 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="{% url 'appointment' %}" class="h4 text-white">Appointment</a>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Appointment Start -->
    <div class="container-fluid bg-primary bg-appointment my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="display-5 text-white mb-4">We Are A Certified and Award Winning Dental Clinic You Can Trust</h1>
                        <p class="text-white mb-0">Our clinic is proudly recognized for maintaining the highest standards of dental care. With a team of certified dentists and advanced dental technologies, we provide personalized treatments focused on your comfort and long-term oral health. Whether you're here for preventive care, cosmetic dentistry, or emergency services — your smile is in expert hands.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                        <h1 class="text-white mb-4">Make Appointment</h1>
                        <form action="{% url 'make_appointment' %}" method="POST">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" required name="service" style="height: 55px;">
                                        <option selected>Select Service</option>
                                        <option value="Cosmetic density">Cosmetic density</option>
                                        <option value="Dental Implant">Dental Implant</option>
                                        <option value="Root Canal">Root Canal</option>
                                        <option value="Teeth Whitening">Teeth Whitening</option>
                                        <option value="Bridges Dentist">Bridges Dentist</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" required name="doctor" style="height: 55px;">
                                        <option selected>Select A doctor</option>
                                        <option value="Dr. Rajeev Khanna">Dr. Rajeev Khanna</option>
                                        <option value="Dr. Priya Mehra">Dr. Priya Mehra</option>
                                        <option value="Dr. Arvind Patel">Dr. Arvind Patel</option>
                                        <option value="Dr. Anjali Deshpande">Dr. Anjali Deshpande</option>
                                        <option value="Dr. Sameer Reddy">Dr. Sameer Reddy</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" name="name" required placeholder="Your Name" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0" name="email" required placeholder="Your Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input" required
                                            placeholder="Appointment Date" name="date" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time1" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input" required
                                            placeholder="Appointment Time" name="time" data-target="#time1" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-dark w-100 py-3" type="submit">Make Appointment</button>
                                </div>
                            </div>
                        </form>
                        <br>
                        {% if success_message %}
                            <div class="alert alert-success" role="alert">
                                {{ success_message }}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
    
{% endblock %}   