{% extends 'base.html' %}
{% load static %}
{% block title %}Privacy - Dental{% endblock %}

{% block content %}
<br>
<div class="container-wrapper">
    <div class="container">

        <h1 style="text-align:center"><u>Privacy Policy</u></h1><br>
        <div class="content">
            <p>At Sakthi Denta, your privacy is important to us. This policy explains how we collect, use, and protect your personal information when you use our services.</p>

            <h4>1. Information We Collect</h4>
            <ul style="padding-left:50px;">
                <li>Personal Information: Name, email, phone number, and medical history during appointment booking.</li>
                <li>Usage Data: Information about how you use our website.</li>
            </ul>

            <h4>2. How We Use Your Information</h4>
            <ul style="padding-left:50px;">
                <li>To provide dental consultations and services.</li>
                <li>To improve our website and user experience.</li>
                <li>To communicate regarding appointments and promotions.</li>
            </ul>

            <h4>3. Data Protection</h4>
            <p style="padding-left:40px;">We implement appropriate security measures to safeguard your information and prevent unauthorized access.</p>

            <h4>4. Third-Party Sharing</h4>
            <p style="padding-left:40px;">We do not sell or rent your personal data. We may share it with third-party service providers involved in delivering our services (e.g., appointment reminders via SMS or email).</p>

            <h4>5. Your Consent</h4>
            <p style="padding-left:40px;">By using our website, you consent to our Privacy Policy.</p>

            <h4>6. Updates to This Policy</h4>
            <p style="padding-left:40px;">We may update this Privacy Policy occasionally. Any changes will be posted on this page.</p>

            <p>If you have questions, contact us at <a href="mailto:info@sakthidenta.com">info@sakthidenta.com</a></p>
        </div>
    </div>
</div>
{% endblock %}
